
.password-error {
    z-index: 9;
    top: calc(100% + 2px);
    left: 0;
    border-radius: 10px;
    padding: 12px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.password-error::before {
    content: "";
    left: 10px;
    bottom: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: Transparent;
    position: absolute;
    border-bottom-color: #2e4c82;
}

.password-error h3 {
    font-size: 13px;
    margin-bottom: 5px;
}

.password-error p {
    font-size: 13px;
    padding-left: 15px;
    text-align: left;
    position: relative;
}

.password-error .valid {
  color: green;
}

.password-error .valid:before {
  position: absolute;
  left: 0;
  content: "✔";
}

.password-error .invalid {
  color: red;
}

.password-error .invalid:before {
  position: absolute;
  left: 0;
  content: "✖";
}

.error {
    font-size: 13px;
    text-align: left;
}
